.flex {
	display: flex;
}
.flex-row {
	flex-direction: row;
}
.flex-col {
	flex-direction: column;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-center {
	justify-content: center;
	align-items: center;
}
.flex-stretch {
	justify-content: space-between;
}
.gap-10 {
	gap: 10px;
}
.gap-15 {
	gap: 15px;
}
.gap-20 {
	gap: 20px;
}
.gap-40 {
	gap: 40px;
}
.gap-60 {
	gap: 60px;
}
