ul.pagination {
	display: flex;
	justify-content: center;
	gap: 5px;

	li {
		a {
			padding: 2px 5px;
			font-size: 16px;
			border-radius: 0;
			background-color: $lightgrey;
			color: #0d1243;
		}

		&.current a {
			background-color: $orange;
			color: $white;
		}
	}
}

.dashboard {
	#pagination-container {
		background: $white;
		padding: $smallPadding;
	}
}
