* {
	margin: 0;
	font-weight: 400;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
ul {
	list-style-type: none;
	padding: 0;
}
a {
	text-decoration: none;
	color: inherit;

	&:hover {
		text-decoration: underline;
	}
}

button {
	outline: none;
	border: none;
	cursor: pointer;
}

h2 {
	margin: 30px 0px;
	font-weight: 600;
}

table {
	border-collapse: collapse;
}
