$imgBorderWidth: 2px;
$imgBorderRadius: 0px;
$smallBorderRadius: 5px;
$mediumBorderRadius: 15px;
$normalPadding: 15px;
$tinyPadding: 5px;
$smallPadding: 10px;
$bigPadding: 25px;
$hugePadding: 40px;
$normalGap: 15px;
$smallGap: 10px;
$tinyGap: 5px;
