$blackred: #100;
$primaryred: #97291f;
$mainred: #800000;
$primaryblue: #bdbfdd;
$darkblue: #0d1243;
$lightorange: #fcb367;
$orange: #f5780c;
$deepred: #1e0203;
$whitepink: #f2e6e6;
$whiteyellow: #fff9ea;
$paleorange: #fff6ec;
$palebeige: #fff6ec;
$mainyellow: #ffc72e;
$white: white;
$black: #100;
$lightgrey: #eee;
$mediumgrey: #666;
