@import url("https://fonts.googleapis.com/css2?family=Jua&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("src/fonts/jsMath-cmbx10.ttf");

@font-face {
	font-family: "jsmath";
	font-style: normal;
	font-weight: 400;
	src: url(/src/fonts/jsMath-cmbx10.ttf) format("ttf");
}

$primaryfont: ubuntu;
$secondaryfont: jua;
