@import "reset";
@import "colors";
@import "fonts";
@import "flexbox";
@import "variables";
@import "constants";
@import "lightbox";
@import "slider";
@import "pagination";
@import "mixins"; // it uses colors so should be after colors

@media screen and (min-width: 768px) {
	.hide-desktop {
		display: none;
	}
}
body {
	background-color: $blackred;
	font-family: $primaryfont;
	line-height: 20px;
}
.mobile-menu-trigger {
	position: absolute;
	right: 10px;
	height: 30px;
	width: 30px;
	background-image: url("../img/icons/menu.png");
	background-size: contain;
	cursor: pointer;
}
.main-container {
	max-width: 1044px;
	margin: auto;
	box-shadow: 0px 0px 30px 0px $primaryred;
}
main {
	background-color: $white;
	color: $black;
	padding: $hugePadding 0;

	section {
		background-color: inherit;
		padding-bottom: $hugePadding;
		width: 100%;
	}

	.main-img {
		img {
			width: 100%;
			object-fit: cover;
		}
	}

	.cat-card {
		a {
			display: flex;
			text-decoration: none;
			flex-direction: column;
			gap: 20px;
			justify-content: center;
			align-items: center;
			background: $darkblue;
			width: 256px;
			height: 157px;
			border-radius: $mediumBorderRadius;
			padding: $hugePadding;
			color: $lightorange;
		}

		&:nth-child(2n) a {
			background: $orange;
			color: $darkblue;
		}

		h3 {
			display: none;
		}

		&:hover h3 {
			display: block;
		}
	}
}

header {
	@include logo;

	display: flex;
	height: 150px;
	padding: $normalPadding;
	justify-content: space-between;
	align-items: center;
	border-bottom: 5px solid $lightorange;
	@include bg-linear-gradient($blackred, $mainred, true);

	ul {
		gap: 15px;

		li a {
			display: inline-block;
			background: $orange;
			color: $deepred;
			padding: 3px 20px;
			box-shadow: 0px 0px $paleorange;
			border-radius: $smallBorderRadius;
			font-size: 14px;
			font-weight: 500;

			&.current {
				background: $mainyellow;
			}
		}
	}

	input.searchbox,
	a.useraccount {
		border-radius: $smallBorderRadius;
		border: none;
		padding: 4px 6px;
		background: $white;
	}

	a.useraccount {
		display: inline-block;
		cursor: pointer;
		&:hover {
			background: $palebeige;
		}

		img {
			width: 15px;
		}
	}

	input.searchbox {
		height: 100%;
	}
}

footer {
	@include logo;

	background-color: $blackred;
	height: 173px;

	display: flex;
	padding: $normalPadding;
	justify-content: space-around;
	align-items: center;

	a {
		color: $primaryblue;
	}

	#social-icons li {
		width: 25px;
		height: 25px;
		background: $white;
		border: 1px solid $orange;
		border-radius: $smallBorderRadius;
		padding: 3px;
	}
}

.category-page {
	.content-sidebar {
		display: flex;
		gap: 20px;

		aside {
			// background: $deepred;
			padding: $normalPadding;
			width: 200px;
			color: $deepred;

			section {
				display: flex;
				flex-direction: column;
				gap: 5px;

				h3 {
					font-weight: 500;
				}

				select {
					width: 100%;
					background: white;
					border: 1px solid #bababa;
					border-radius: $smallBorderRadius;
					padding: $smallPadding $normalPadding;
					margin-top: 5px;
				}

				ul {
					display: flex;
					flex-direction: column;
					gap: 5px;
					padding-left: 5px;
					margin-bottom: $bigPadding;

					label {
						display: flex;
						flex-direction: row-reverse;
						gap: 5px;
						align-items: center;
						color: $primaryblue;
						font-size: 14px;
						font-weight: 500;
						cursor: pointer;

						input {
							height: 10px;
							width: 10px;
						}

						&.checkbox {
							align-items: center;
							&::before {
								content: "";
								display: inline-block;
								width: 20px;
								height: 20px;
								background-color: rgb(223, 223, 223);
							}
							&.checked {
								&::before {
									background-color: green;
								}
								span {
									color: $darkblue;
								}
							}
							input {
								display: none;
							}
						}
					}
				}
			}
		}

		.content {
			padding: 0 $smallPadding;
			flex: 1;
			section:first-child {
				display: flex;
				justify-content: space-evenly;
				row-gap: 25px;
				column-gap: 15px;

				> a,
				> div {
					width: 180px;
					height: 200px;
					overflow: hidden;
					position: relative;
					box-shadow: 0px 5px 10px 0px $darkblue;

					img {
						object-fit: cover;
						width: 100%;
						height: 100%;
						transition: all 0.2s linear;
					}

					&:hover img {
						transform: scale(1.1);
					}

					span {
						position: absolute;
						bottom: 0;
						left: 0;
						display: block;
						width: 100%;
						background-color: $blackred;
						opacity: 0.8;
						padding: $tinyPadding;
						color: white;
						text-align: center;
						font-size: 14px;
						border-top: 1px solid $mainyellow;
					}

					i {
						position: absolute;
						top: 5px;
						right: 5px;
						background: $mainyellow;
						padding: 2px 5px;
						font-size: 14px;
						font-weight: 500;
					}
				}

				&.professions > a {
					width: 300px;
					background: $beige;
					padding: $normalPadding;
					box-shadow: none;

					img {
						object-fit: contain;
						transition: all linear 0.5s;
					}

					&:hover img {
						transform: rotateY(180deg);
					}
				}
				> div {
					height: 270px;
				}
			}

			section:last-child {
				// a {
				// 	@include button-style();
				// }
			}
		}
	}
}

.single-page {
	main {
		align-items: center;
	}
	section {
		width: 100%;
		max-width: 850px;
		padding: $normalPadding;
		@include bg-linear-gradient($paleorange, $lightorange);
		gap: 10px;

		&:nth-of-type(2n) {
			@include bg-linear-gradient($lightorange, $paleorange);
		}

		.column {
			background-color: $white;
			padding: $smallPadding;
		}

		.left-content {
			width: 300px;

			.gallery {
				> span {
					width: 85px;
					height: 85px;
				}
			}
		}
		.right-content {
			flex: 1;

			h3 {
				font-weight: 600;
			}

			h4 {
				color: $primaryred;
				font-size: 14px;
				font-weight: 500;
			}

			.reviewscount {
				font-size: 10px;
				color: $orange;
				font-weight: 500;

				.checked {
					color: $orange;
				}
				.unchecked {
					color: $lightgrey;
				}
			}

			table {
				margin-bottom: 20px;
			}

			thead td {
				font-size: 16px;
			}
			table td {
				padding: 5px $smallPadding;
				font-weight: 500;
			}
			tbody tr:nth-child(2n + 1) {
				background-color: $whitepink;
			}
			tbody td {
				font-size: 14px;
			}
			tbody td:last-child {
				text-align: right;
			}
		}

		.reviews {
			background-color: $white;
			//background-color: $palebeige;
			padding: 30px;

			h4 {
				font-size: 20px;
				font-weight: 600;
			}

			.single-review {
				//background: $white;
				//padding: 5px 15px;
				//box-shadow: 0px 0px 5px 0px $lightorange;

				span {
					color: $orange;
					font-weight: 500;
				}

				p {
					font-size: 16px;
				}
			}
		}
	}
}

.login-page {
	/* Style the tab */
	.tab {
		overflow: hidden;
	}

	/* Style the buttons that are used to open the tab content */
	.tab button {
		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: $smallPadding $hugePadding;
		transition: 0.3s;
		border-radius: $mediumBorderRadius $mediumBorderRadius 0 0;
		background-color: $paleorange;
		font-weight: 600;

		&:hover {
			background-color: $orange;
		}

		&.active {
			background-color: $darkblue;
			color: $white;
			border: 1px solid $black;
		}
	}

	/* Style the tab content */
	.tabcontent {
		background: $darkblue;
		display: none;
		width: 100%;
		max-width: 500px;
		padding: $normalPadding;

		&:nth-of-type(2n) {
			display: block;
		}

		form {
			padding: $bigPadding;

			input {
				padding: $smallPadding;
			}
			button {
				background: $orange;
				color: $white;
				padding: $smallPadding;
			}
		}
	}
}

.aboutus-page,
.contactus-page {
	main {
		gap: $bigPadding;
	}
	.banner {
		height: 100px;
		background-color: $palebeige;
		width: 100%;

		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	p {
		max-width: 80%;
		letter-spacing: 1px;
		line-height: 1.2;
		text-align: justify;

		img.left {
			float: left;
		}
		img.right {
			float: right;
		}
	}

	.content {
		width: 100%;

		form {
			width: 100%;
			max-width: 400px;
			text-align: left;

			input,
			select,
			textarea {
				padding: $smallPadding $normalPadding;
				border-radius: $smallBorderRadius;
				border: 1px solid $lightgrey;
			}

			button {
				@include button-style1;
			}
		}
	}
}

.aboutus-page {
	.banner {
		background-image: url("/src/img/icons/movie.png");
	}
}
.contactus-page {
	.banner {
		background-image: url("/src/img/icons/email.png");
	}
}

.news-page {
	#news-list {
		padding: 0 $bigPadding;
		gap: 30px;
		> a {
			display: flex;
			gap: $normalPadding;
			padding: $normalPadding;

			&:nth-child(2n + 1) {
				background-color: $palebeige;
			}

			> :first-child {
				width: 150px;
			}

			> :last-child {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				gap: 10px;
			}

			&:hover {
				text-decoration: none;
			}

			h3 {
				font-weight: 500;
			}

			i {
				text-align: right;
				font-size: 12px;
			}
		}
	}

	#title {
		width: 70%;
		margin: 0 auto;
		line-height: 1.2;
	}

	&.single .content {
		display: flex;
		gap: $normalPadding;
		padding: 0 $hugePadding;
	}
}

@media screen and (max-width: 768px) {
	header,
	footer {
		flex-direction: column;
		height: auto;
		gap: 20px;
	}
	.flex-row-mobile {
		flex-direction: row;
	}
	.hide-mobile {
		display: none;
	}
}
