@import "../reset";
@import "../flexbox";
@import "../colors";
@import "../constants";
@import "../variables";
@import "../fonts";
@import "../pagination";
@import "../mixins"; // it uses colors so should be after colors

body {
	font-family: $primaryfont;
	// line-height: 20px;
}
aside {
	@include logo;

	background-color: $darkblue;
	width: 30%;
	max-width: 150px;
	min-height: 100vh;
	color: $white;

	> * {
		padding: $normalPadding;

		&:first-child {
			border-bottom: 1px solid gray;
		}
	}

	nav {
		font-size: 14px;

		li a.current {
			color: $orange;

			text-decoration: underline;
		}
		&:last-child {
			margin-top: auto;
		}
	}
}

main {
	padding: $bigPadding;
	flex: 1;
	background: $lightorange;

	section {
		input[type="search"] {
			padding: 8px 15px;
			border-radius: 15px;
			outline: none;
			border: 3px solid transparent;
			width: 60%;
			max-width: 400px;

			&:focus {
				border-color: $orange;
			}

			&::placeholder {
				color: $mediumgrey;
			}
		}

		&:not(:first-child) {
			> * {
				box-shadow: 0px 0px 8px 1px $orange;
			}
		}

		.buttons-container {
			background: $white;
			padding: $smallPadding;

			button,
			a.button {
				padding: $smallPadding $normalPadding;
				background: $orange;
				border-radius: $smallBorderRadius;
				color: $white;
				display: inline-block;
			}
		}

		table {
			flex: 1;
			background: $white;
			border-radius: $smallBorderRadius;

			td {
				padding: $smallPadding;

				&:last-child {
					text-align: right;
				}
			}

			thead {
				tr {
					background-color: $primaryblue;
					td {
						font-weight: 600;

						&:first-child {
							border-top-left-radius: 10px;
						}
					}
				}
			}

			tr:last-child td:first-child {
				border-bottom-left-radius: 10px;
			}

			tr:last-child td:last-child {
				border-bottom-right-radius: 10px;
			}
		}

		.pagination {
			nav ul {
				background: $white;
				justify-content: flex-end;
				li {
					padding: 5px;
					color: $mediumgrey;

					&.active {
						a {
							font-weight: 600;
							text-decoration: underline;
							color: $mainred;
						}
					}
				}
			}
		}

		.form-container {
			background-color: $white;
			padding: $normalPadding $hugePadding;
			form {
				display: flex;
				flex-direction: column;
				gap: $normalGap;

				.input-container {
					display: flex;
					flex-direction: column;
					gap: $smallGap;

					input {
						padding: $smallPadding;
						width: 100%;
						font-size: 16px;
					}

					&.buttons-container {
						flex-direction: row;
						justify-content: space-between;

						button[type="reset"] {
							background-color: $mediumgrey;
						}
					}

					.add-new {
						display: flex;
						background: $paleorange;
						color: $black;
						padding: $tinyPadding;
						cursor: pointer;
						border: 1px solid $orange;
						align-items: center;
						justify-content: center;
						gap: $tinyGap;
						font-size: 14px;

						&:hover {
							&::before {
								transform: scale(1.2);
							}
						}

						&::before {
							font-size: 30px;
							color: $orange;
							content: "\002B";
							display: inline-block;
							transition: all 0.2s linear;
							position: relative;
							top: -2px;
						}
					}

					.gallery {
						display: flex;
						align-items: center;
						gap: $normalGap;
						flex-wrap: wrap;

						.single-img {
							position: relative;

							div {
								position: absolute;
								top: 0;
								height: 100%;
								width: 100%;
								background: rgba(0, 0, 0, 0.8);
								display: none;
								cursor: pointer;
								align-items: center;
								justify-content: center;
								gap: $smallGap;
								color: $white;

								span.edit:hover,
								span.delete:hover {
									text-decoration: underline;
								}
								span.edit::before {
									content: "Edit";
								}
								span.delete::before {
									content: "Delete";
								}
							}

							&:hover {
								div {
									display: flex;
								}
							}
						}
					}
					.filepicker {
						padding: $normalPadding;
						width: fit-content;
						background-color: $paleorange;
						border: 1px solid $orange;
						display: flex;
						align-items: center;
						gap: $tinyGap;
						cursor: pointer;

						input[type="file"] {
							display: none;
						}

						&::before {
							content: "\002B";
							top: -3px;
							position: relative;
							font-size: 40px;
							display: inline-block;
							transition: all linear 0.2s;
							color: $orange;
						}

						&:hover {
							&::before {
								transform: scale(1.2);
							}
						}
					}
				}
			}
		}
	}
}
