@import url("https://fonts.googleapis.com/css2?family=Jua&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  font-weight: 400;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

h2 {
  margin: 30px 0px;
  font-weight: 600;
}

table {
  border-collapse: collapse;
}

@font-face {
  font-family: "jsmath";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/jsMath-cmbx10.ttf") format("ttf");
}
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-stretch {
  justify-content: space-between;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.gap-40 {
  gap: 40px;
}

.gap-60 {
  gap: 60px;
}

.deepredbg {
  background-color: #100;
}

.paleorangebg {
  background-color: #fff6ec;
}

.orangeborder {
  border-color: #f5780c;
  border-style: solid;
  border-width: 2px 0px 2px 0px;
}

.content-centered,
.text-center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  max-height: fit-content;
}

.gallery .image-container {
  cursor: pointer;
}

.lightbox {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
}
.lightbox .before,
.lightbox .after {
  z-index: 10;
  padding: 25px;
  cursor: pointer;
  color: white;
  transition: all 0.2s linear;
  transform: rotate(180deg);
  font-size: 30px;
}
.lightbox .before:hover,
.lightbox .after:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.lightbox .after {
  left: inherit;
  right: 0;
  transform: rotate(0);
}

.slider {
  position: relative;
}
.slider .before,
.slider .after {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10;
  height: 100%;
  padding: 0 15px;
  cursor: pointer;
  color: white;
  transition: all 0.2s linear;
  transform: rotate(180deg);
  font-size: 25px;
}
.slider .before:hover,
.slider .after:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.slider .after {
  left: inherit;
  right: 0;
  transform: rotate(0);
}

.slider__track {
  overflow: hidden;
  height: 100%;
}
.slider__track ul {
  position: relative;
  left: 0;
  transition: all 0.5s ease-in-out;
}

.film_line {
  height: 25px;
  background: #100;
}
.film_line ul {
  display: flex;
  height: 100%;
  justify-content: space-between;
  gap: 80px;
  align-items: center;
}
.film_line ul li {
  background: white;
  flex: 1;
  height: 60%;
  display: block;
}

.dots {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}
.dots span {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
}
.dots span.active {
  background-color: #420101;
}

.slider__slide {
  position: relative;
}
.slider__slide > a {
  height: 100%;
}
.slider__slide .image-container {
  border-radius: 0px;
  border: 2px solid #100;
  height: inherit;
}
.slider__slide.vertical .info {
  align-items: center;
  justify-content: center;
  height: calc(100% - 4px);
  bottom: -100%;
  border-top-left-radius: -4px;
  border-top-right-radius: -4px;
}
.slider__slide .info {
  position: absolute;
  background: #100;
  opacity: 0.8;
  bottom: -20px;
  width: calc(100% - 4px);
  left: 2px;
  color: white;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.2s linear;
  border-bottom-left-radius: -4px;
  border-bottom-right-radius: -4px;
}
.slider__slide .info .name {
  font-size: 14px;
}
.slider__slide .info .profession,
.slider__slide .info .year {
  color: #ffc72e;
  font-size: 10px;
}
.slider__slide .content {
  background-color: #100;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 400px;
  padding: 10px;
  gap: 10px;
}
.slider__slide .content .name {
  color: #ffc72e;
}
.slider__slide .content .year {
  font-style: italic;
}
.slider__slide:hover .info {
  bottom: 2px;
}

.slider__slide.horizontal .image-container {
  height: 100%;
}

.slider__slide.vertical .image-container {
  height: 100%;
}

ul.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
}
ul.pagination li a {
  padding: 2px 5px;
  font-size: 16px;
  border-radius: 0;
  background-color: #eee;
  color: #0d1243;
}
ul.pagination li.current a {
  background-color: #f5780c;
  color: white;
}

@media screen and (min-width: 768px) {
  .hide-desktop {
    display: none;
  }
}
body {
  background-color: #100;
  font-family: ubuntu;
  line-height: 20px;
}

.mobile-menu-trigger {
  position: absolute;
  right: 10px;
  height: 30px;
  width: 30px;
  background-image: url("../img/icons/menu.png");
  background-size: contain;
  cursor: pointer;
}

.main-container {
  max-width: 1044px;
  margin: auto;
  box-shadow: 0px 0px 30px 0px #97291f;
}

main {
  background-color: white;
  color: #100;
  padding: 40px 0;
}
main section {
  background-color: inherit;
  padding-bottom: 40px;
  width: 100%;
}
main .cat-card a {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background: #0d1243;
  width: 256px;
  height: 157px;
  border-radius: 15px;
  padding: 40px;
  color: #fcb367;
}
main .cat-card:nth-child(2n) a {
  background: #f5780c;
  color: #0d1243;
}
main .cat-card h3 {
  display: none;
}
main .cat-card:hover h3 {
  display: block;
}

header .logo {
  height: 80px;
  width: 80px;
  position: relative;
}
header .logo span {
  background: -webkit-linear-gradient(#fcb367, #f5780c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 0;
  right: -20px;
  font-size: 20px;
  font-style: italic;
}
header .logo.dashboard {
  height: 50px;
  width: 50px;
}
header .logo.dashboard span {
  font-size: 15px;
}
header {
  display: flex;
  height: 150px;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid #fcb367;
  background: linear-gradient(to right, #100, #800000);
}
header ul {
  gap: 15px;
}
header ul li a {
  display: inline-block;
  background: #f5780c;
  color: #1e0203;
  padding: 3px 20px;
  box-shadow: 0px 0px #fff6ec;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}
header ul li a.current {
  background: #ffc72e;
}
header input.searchbox,
header a.useraccount {
  border-radius: 5px;
  border: none;
  padding: 4px 6px;
  background: white;
}
header a.useraccount {
  display: inline-block;
  cursor: pointer;
}
header a.useraccount:hover {
  background: #fff6ec;
}
header a.useraccount img {
  width: 15px;
}
header input.searchbox {
  height: 100%;
}

footer .logo {
  height: 80px;
  width: 80px;
  position: relative;
}
footer .logo span {
  background: -webkit-linear-gradient(#fcb367, #f5780c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 0;
  right: -20px;
  font-size: 20px;
  font-style: italic;
}
footer .logo.dashboard {
  height: 50px;
  width: 50px;
}
footer .logo.dashboard span {
  font-size: 15px;
}
footer {
  background-color: #100;
  height: 173px;
  display: flex;
  padding: 15px;
  justify-content: space-around;
  align-items: center;
}
footer a {
  color: #bdbfdd;
}
footer #social-icons li {
  width: 25px;
  height: 25px;
  background: white;
  border: 1px solid #f5780c;
  border-radius: 5px;
  padding: 3px;
}

.category-page .content-sidebar {
  display: flex;
  gap: 20px;
}
.category-page .content-sidebar aside {
  padding: 15px;
  width: 200px;
  color: #1e0203;
}
.category-page .content-sidebar aside section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.category-page .content-sidebar aside section h3 {
  font-weight: 500;
}
.category-page .content-sidebar aside section ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 5px;
}
.category-page .content-sidebar aside section ul label {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #bdbfdd;
  font-size: 14px;
  font-weight: 500;
}
.category-page .content-sidebar aside section ul label input {
  height: 10px;
  width: 10px;
}
.category-page .content-sidebar aside section ul label.checkbox {
  align-items: center;
}
.category-page .content-sidebar aside section ul label.checkbox::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgb(223, 223, 223);
}
.category-page .content-sidebar aside section ul label.checkbox.checked::before {
  background-color: green;
}
.category-page .content-sidebar aside section ul label.checkbox.checked span {
  color: #0d1243;
}
.category-page .content-sidebar aside section ul label.checkbox input {
  display: none;
}
.category-page .content-sidebar .content {
  padding: 0 10px;
  flex: 1;
}
.category-page .content-sidebar .content section:first-child {
  display: flex;
  justify-content: space-evenly;
  row-gap: 25px;
  column-gap: 15px;
}
.category-page .content-sidebar .content section:first-child > a,
.category-page .content-sidebar .content section:first-child > div {
  width: 180px;
  height: 200px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 5px 10px 0px #0d1243;
}
.category-page .content-sidebar .content section:first-child > a img,
.category-page .content-sidebar .content section:first-child > div img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.category-page .content-sidebar .content section:first-child > a span,
.category-page .content-sidebar .content section:first-child > div span {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  background-color: #100;
  opacity: 0.8;
  padding: 5px;
  color: white;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid #ffc72e;
}
.category-page .content-sidebar .content section:first-child > a i,
.category-page .content-sidebar .content section:first-child > div i {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #ffc72e;
  padding: 2px 5px;
  font-size: 14px;
  font-weight: 500;
}
.category-page .content-sidebar .content section:first-child.professions > a {
  width: 300px;
  background: #fdebcb;
  padding: 15px;
  box-shadow: none;
}
.category-page .content-sidebar .content section:first-child.professions > a img {
  object-fit: contain;
  transition: all linear 0.5s;
}
.category-page .content-sidebar .content section:first-child.professions > a:hover img {
  transform: rotateY(180deg);
}
.category-page .content-sidebar .content section:first-child > div {
  height: 270px;
}
.single-page main {
  align-items: center;
}
.single-page section {
  width: 100%;
  max-width: 850px;
  padding: 15px;
  background: linear-gradient(to bottom, #fff6ec, #fcb367);
  gap: 10px;
}
.single-page section:nth-of-type(2n) {
  background: linear-gradient(to bottom, #fcb367, #fff6ec);
}
.single-page section .column {
  background-color: white;
  padding: 10px;
}
.single-page section .left-content {
  width: 300px;
}
.single-page section .left-content .gallery > span {
  width: 85px;
  height: 85px;
}
.single-page section .right-content {
  flex: 1;
}
.single-page section .right-content h3 {
  font-weight: 600;
}
.single-page section .right-content h4 {
  color: #97291f;
  font-size: 14px;
  font-weight: 500;
}
.single-page section .right-content .reviewscount {
  font-size: 10px;
  color: #f5780c;
  font-weight: 500;
}
.single-page section .right-content .reviewscount .checked {
  color: #f5780c;
}
.single-page section .right-content .reviewscount .unchecked {
  color: #eee;
}
.single-page section .right-content table {
  margin-bottom: 20px;
}
.single-page section .right-content thead td {
  font-size: 16px;
}
.single-page section .right-content table td {
  padding: 5px 10px;
  font-weight: 500;
}
.single-page section .right-content tbody tr:nth-child(2n+1) {
  background-color: #f2e6e6;
}
.single-page section .right-content tbody td {
  font-size: 14px;
}
.single-page section .right-content tbody td:last-child {
  text-align: right;
}
.single-page section .reviews {
  background-color: white;
  padding: 30px;
}
.single-page section .reviews h4 {
  font-size: 20px;
  font-weight: 600;
}
.single-page section .reviews .single-review span {
  color: #f5780c;
  font-weight: 500;
}
.single-page section .reviews .single-review p {
  font-size: 16px;
}

.login-page {
  /* Style the tab */
}
.login-page .tab {
  overflow: hidden;
}
.login-page {
  /* Style the buttons that are used to open the tab content */
}
.login-page .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 40px;
  transition: 0.3s;
  border-radius: 15px 15px 0 0;
  background-color: #fff6ec;
  font-weight: 600;
}
.login-page .tab button:hover {
  background-color: #f5780c;
}
.login-page .tab button.active {
  background-color: #0d1243;
  color: white;
  border: 1px solid #100;
}
.login-page {
  /* Style the tab content */
}
.login-page .tabcontent {
  background: #0d1243;
  display: none;
  width: 100%;
  max-width: 500px;
  padding: 15px;
}
.login-page .tabcontent:nth-of-type(2n) {
  display: block;
}
.login-page .tabcontent form {
  padding: 25px;
}
.login-page .tabcontent form input {
  padding: 10px;
}
.login-page .tabcontent form button {
  background: #f5780c;
  color: white;
  padding: 10px;
}

.aboutus-page main {
  gap: 25px;
}
.aboutus-page .banner {
  height: 100px;
  background-color: blanchedalmond;
  width: 100%;
}
.aboutus-page p {
  max-width: 80%;
  letter-spacing: 1px;
  line-height: 1.2;
  text-align: justify;
}
.aboutus-page p img.left {
  float: left;
}
.aboutus-page p img.right {
  float: right;
}

.news-page #news-list {
  padding: 0 25px;
  gap: 30px;
}
.news-page #news-list > a {
  display: flex;
  gap: 15px;
  padding: 15px;
}
.news-page #news-list > a:nth-child(2n+1) {
  background-color: #fff6ec;
}
.news-page #news-list > a > :first-child {
  width: 150px;
}
.news-page #news-list > a > :last-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.news-page #news-list > a:hover {
  text-decoration: none;
}
.news-page #news-list > a h3 {
  font-weight: 500;
}
.news-page #news-list > a i {
  text-align: right;
  font-size: 12px;
}
.news-page #title {
  width: 70%;
  margin: 0 auto;
  line-height: 1.2;
}
.news-page.single .content {
  display: flex;
  gap: 15px;
  padding: 0 40px;
}

@media screen and (max-width: 768px) {
  header,
  footer {
    flex-direction: column;
    height: auto;
    gap: 20px;
  }
  .flex-row-mobile {
    flex-direction: row;
  }
  .hide-mobile {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
